.Rproj.user
*.Rproj
.Rhistory
.RData
.Ruserdata
rsconnect
.tmp
*.pkl
Using reticulate in an R Package.url
landcareresearch-dean_poa-e7299c4def57.zip
__pycache__
poa_objs.R
preProcessing_R.R
preProcessing_shinyPOA.R
results/*
man
Anaconda Prompt (proofofabsence).lnk
