# R and Rstudio files
.Rproj.user
*.Rproj
.Rhistory
.RData
.Ruserdata
.Rbuildignore
.Renviron
rsconnect
# folders
man
tests
# filetypes
*.pkl
*.zip
*.exe
*.yml
# files
inst/device_pars.csv
inst/app/.Rprofile
TODO.txt
